$red: #790604;

$black-1: #18171d;
$black-2: #222127; // search + like
$black-3: #0e0e10; // foreground color
$black-4: #2f2f37; // input
$black-5: #1f1f23; // likes pane
$white: #fdfdfd;
$white-2: #cecece;
$purple: #9246ff;
$purple-2: #782ce8; // CTAs
$purple-3: #5c16c6;



